*{
    box-sizing: border-box;
}
body,html{
    margin: 0 auto;
    padding:0;
    font-family: "Open Sans", sans-serif;
    color: hsl(192, 100%, 9%);

}
.container{
    margin: 0 auto;
    
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: url("images/bg-section-top-desktop-1.svg");
    max-width: 1440px;
   
}
header img{
    display: block;
    padding: 0 5rem;
}
header button{
    background-color: white;
    border: 2px solid   hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    border-radius: 20px;
    padding: 0 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.intro h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
  

}
.intro p{
    width:500px;
    margin: 0 auto;
}
.intro button{
  display: block;
  margin: 1rem auto;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: none; 
  padding: 1rem 10rem ; 
  border-radius: 20px; 
  font-size: 1.2rem;
}
.imgEmail{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    
}
.followers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    padding: 5rem 0rem;

}
   


.communities span,.mssg span{
    font-size: 4rem;
    font-weight: 700;
   
}
.communities img,.mssg img{
    width: 35px;
   transform: translate(100%,-180%)
}
.communities p{
    text-align: center;
    transform: translate(16%,0%);
}
.mssg p{
    text-align: center;
    font-weight: 100;
}
.growTogether img,.flowingConvo img,.users img{   
    width: 600px;
         
}

.growTogether{
    display: flex;
    flex-direction: row-reverse;
    background-color: hsl(207, 100%, 98%);
    padding: 5rem 0rem
    
}
.bg-section{
    display: block;
    
}
.growTogether div{
    margin: 7rem 0 0 7rem;
}


.flowingConvo{
    display: flex;
    justify-content: center;
    gap: 20%;
    padding: 5rem 0rem;
   
}
.flowingConvo p{
    word-wrap: break-word;
}
.flowingConvo div{
    margin: 8rem 0 0 0
}

.users{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5rem 0;
    background-color: hsl(207, 100%, 98%);
}
.bg-bottom{
    display: block;
}
.users div{
    margin:8rem 0 0 2rem ;
    width: 600px;
}
.growTogether h2,.users h2,.flowingConvo h2{
    font-size: 2rem;
    font-weight: 700;
}
.getStarted{
    text-align: center;
    padding: 5rem 0rem
}
.getStarted h2{
    font-size: 2rem;
}
.getStarted button{
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-size: 1.2rem;
    border: none;
    padding: 1rem 4rem;
    border-radius: 20px;
}

.footerImg{
    display: block;
   
}
footer{
    background-color: hsl(192, 100%, 9%);
   padding: 1rem 0 1rem 0;
    color: white;
    padding: 10rem 0rem
 

}
footer ul{
    list-style: none;
    
}
footer ul li{
    margin-top: 1rem
}
footer p {
    width: 400px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}
.subscribe input{
    height:35px;
    width: 55%;
    border-radius: 10px;
}
.subscribe button{
    background-color:hsl(322, 100%, 66%) ;
    border:  none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin-left: 2rem
}
.icons i{
    margin: 5rem 0 0 2.5rem;
    font-size: 1.5rem;
    color: hsl(192, 100%, 9%);
    background-color: white;
    border: none;
    padding: 0.2rem 0.5rem 

}
.attribution{
    text-align: center;
    margin: 5rem auto 0 auto;
    color:white;
}
p a{
    color: white;

}


